<!DOCTYPE html>
<html>
    <head>
        <title>Connexion / Inscription</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../assets/css/index.css">

    </head>
    <body>
        <h1>QUIZZEO</h1>
        <h3>Bienvenue sur Quizzeo un site où vous pouvez répondre à plusieurs quiz en ligne sur différents thèmes,
            <br>veuillez vous connecter ou vous inscrire avant de commencer.</h3>

        <div class="button1">
            <a href="../index.php?page=login"><button>Connectez-vous</button></a>
        </div>

        <a href="../index.php?page=register&type=user"><button>Inscrivez-vous</button></a>

        <img class="image1" src="../assets/img/point_interrogation.png" alt="image1">
        <img class="image2" src="../assets/img/point_interrogation3.png" alt="image2">
    </body>
</html>